@model IEnumerable<SportsStore.WebUI.ViewModels.ProductDisplayViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="Grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="NumericCol">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
           Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.ActionLink(item.Name, "Edit", new { item.ProductID })
        </td>
        <td class="NumericCol">
            @item.Price.ToString("c")
        </td>
        <td>
            @using (Html.BeginForm("Delete", "Admin"))
            {
                @Html.Hidden("productID", item.ProductID)
                <input type="submit" value="Delete" />
            }
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("Add a new product", "Create")</p>
